.bike-payment{
    margin: 8vh 0 13vh 0;
}

.shop-bike-container .Container{
    margin-top: 12vh;
    border-top: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-products{
    display: block;
    width: 100%;
}

.bike-container-header{
    margin-top: 3vh;
}

.container-products p{
    font-size: 1.37500rem;
    font-family: "Gotham Book", sans-serif;
    float: left;
}

.quantity-text,
.price-text{
    display: block;
    width: 100%;
}

.quantity-text p,
.price-text p{
    font-size: 1rem;
    font-family: "Gotham Book", sans-serif;
    text-align: center;
}

.bike-container-detail{
    margin-top: 10vh;
}

.bike-image{
    display: block;
    width: 100%;
}

.bike-image img{
    width: 90%;
}

.bike-description{
    display: block;
    width: 100%;
}

.bike-description h3{
    font-family: "Gotham Medium",sans-serif;
    font-size: 1.37500rem;
    color: #000000;
    text-align: left;
}

.bike-description ul{
    display: block;
    width: 100%;
    padding: 0;
}

.bike-description ul li{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-family: "Gotham Book", sans-serif;
    font-size: 0.875rem;
    color: #333333;
}

.change-quantity{
    display: inline-block;
    width: 100%;
}

.change-quantity > span{
    margin-top: 35px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.change-quantity .image-holder{
    height: 36px;
    width: 36px;
    display: inline-block;
    padding: 16px;
    border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;

}

.change-quantity span img{
    transform: translate3d(-40%,-40%,0);
}

.down-arrow{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateZ(180deg);
}

.change-quantity .quantity{
    font-family: "Gotham Medium", sans-serif;
    font-size: 1rem;
    color: #333333
}


.price-changer{
    display: inline-block;
    font-family: "Gotham Medium",sans-serif;
    font-size: 1.37500rem;
    color: #000000;
    vertical-align: top;
    margin-right: 10%;
    width: 150px;
    max-width: 250px;
    overflow: hidden;
}

.removal{
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}

.price-holder{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.bike-price{
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-100%,0);
    -moz-transform: translate3d(-50%,-100%,0);
    -ms-transform: translate3d(-50%,-100%,0);
    -o-transform: translate3d(-50%,-100%,0);
    transform: translate3d(-50%,-100%,0);
}


.payment-holder{
    text-align: right;
}

.payment-holder > div{
    margin-left: 5%;
    vertical-align: top;
    display: inline-block;
}

.paypal-payment,
.checkout{
    padding: 10px 60px;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

.checkout{
    font-family: "Gotham Medium", sans-serif;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #ff4848;
}

.checkout .checkout-text{
    margin: 0;
}

.bike-total-text{
    font-family: "Gotham", sans-serif;
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 1.12500rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

.bike-price-count{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-family: "Gotham Medium",sans-serif;
    font-size: 1.12500rem;
    line-height: 1.5rem;
}

.bike-payment .Container{
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 50px 0;
}

.bike-payment + footer{
    border: none;
}

.quantity:focus{
	outline:none;
}