
.cruz-image{
    display: inline-block;
    width: 47%;
    -webkit-transform: scale(1) translate3d(0,-20%,0);
    -moz-transform: scale(1) translate3d(0,-20%,0);
    -ms-transform: scale(1) translate3d(0,-20%,0);
    -o-transform: scale(1) translate3d(0,-20%,0);
    transform: scale(1) translate3d(0,-20%,0);
}

.cruz-fourth-block{
    margin-top: 50px;
}

.cruz-desc .description{
    font-family: "Gotham Book", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 1rem;
    display: block;
    line-height: 1.5em;
    max-height: 4.5em;
    overflow: hidden;
    margin-top: 100px;
}

.cruz-desc .play-button{
    border: none;
}

.cruz-desc .play-button:hover{
    border:none;
}

.cruz-desc .play-button .play{
    border-left: 17px solid #b6e1de;
}

.specification{
    -webkit-transform: translate3d(0,-30%,0);
    -moz-transform: translate3d(0,-30%,0);
    -ms-transform: translate3d(0,-30%,0);
    -o-transform: translate3d(0,-30%,0);
    transform: translate3d(0,-30%,0);
}

.specification > div{
    display: inline-block;
}

.specification > div{
    margin-left: 100px;
}

.specification > div:first-child{
    margin-left: 0;
}

.specification > div p span{
    display: inline-block;
    width: 100%;
}

.specification > div p span:first-child{
    font-family: "Gotham",sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.specification > div p span:nth-child(2){
    font-family: "Gotham Book", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.cruz-slider-header{
    margin-top: 200px;
    -webkit-transform: translate3d(0,-160px,0);
    -moz-transform: translate3d(0,-160px,0);
    -ms-transform: translate3d(0,-160px,0);
    -o-transform: translate3d(0,-160px,0);
    transform: translate3d(0,-160px,0);
}

.cruz-slider-title{
    font-family: "Gotham Light",sans-serif;
    font-size: 3.75rem;
}

.cruz-slider-subtitle{
    font-family: "Gotham Light",sans-serif;
    font-size: 1rem;
}

.cruz-slider-subtitle span{
    display: inline-block;
    width: 100%;
}

.seventh-block .cruz-detailed-image{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sub-text{
    margin-top: 5vh;
    width: 100%;
    text-align: right;
}

.sub-text p{
    display: inline-block;
    text-align: center;
    font-family: "Gotham Book",sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.sub-text a{
    font-family: "Gotham",sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    color: #000;
    border: 2px solid #f2f2f2;
    border-radius: 1.4375rem;
    margin-left: 15px;
}

.sub-text a:hover{
    text-decoration: none;
}

.image-description{
    position: relative;
}

.seventh-block .cruz-detailed-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.seventh-block .cruz-detailed-image .cruz-main-image{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.detailes-row{
    max-width: 100%;
    margin: 0;
}

.detailes-row .detailes-image {
    padding: 0;
}

.detailes-main-image{
    width: 100%;
}

.detailes-main-image img{
    width: 100%;
}

.pointers{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    background-color: #FFFFFF;
    cursor: pointer;
}


.pointers span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(50%,50%,0);
    -moz-transform: translate3d(50%,50%,0);
    -ms-transform: translate3d(50%,50%,0);
    -o-transform: translate3d(50%,50%,0);
    transform: translate3d(50%,50%,0);
    background-color: #b1eee6;
}

.active-pointer{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    background-color: #b1eee6;
}


.active-pointer span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(50%,50%,0);
    -moz-transform: translate3d(50%,50%,0);
    -ms-transform: translate3d(50%,50%,0);
    -o-transform: translate3d(50%,50%,0);
    transform: translate3d(50%,50%,0);
    background-color: #FFFFFF;
}

.first-pointer{
    top: 40%;
    left: 46%;
}

.second-pointer{
    top: 5%;
    left: 30%;
}

.third-pointer{
    top: 39%;
    left: 33%;
}

.fourth-pointer{
    top: 21%;
    left: 27%;
}

.detailes-image img{
    width: 100%;
}

.detailed-specification{
    display: inline-block;
    width:100%;
    padding: 5%;
    text-align: left;
}

.detailed-specification h2{
    font-family: "Gotham Book",sans-serif;
    font-size: 2.28375rem;
    text-align: left;
}


.detailed-specification > p{
    font-family: "Gotham", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    display: inline-block;
    line-height: 1.4375rem;
    max-height: 4.3125rem;
    overflow: hidden;
    width: 100%;
}

.detailed-specification .battery-detail,
.detailed-specification .performance-detail{
    border: 1px solid #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.8rem;
    display: inline-block;
    vertical-align: top;
    border-radius: 1.87500rem;
    margin-top: 30px;
}

.detailed-specification .battery-detail span,
.detailed-specification .performance-detail span{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.detailed-specification .performance-detail{
    margin-left: 25px;
}

span.bat-image{
    background: center no-repeat url("../Image/Details/battery.png");
    background-size: 60%;
}

span.perf-image{
    background: center no-repeat url("../Image/Details/time.png");
    background-size: 100%;
}

.detailed-specification .battery-detail p,
.detailed-specification .performance-detail p{
    display: inline-block;
    font-family: "Gotham Book", sans-serif;
    font-size: 1rem;
    vertical-align: top;
    margin-bottom: 0;
    margin-left: 15px;
}

.more-detail{
    margin-top: 50px;
    cursor: pointer;
}

.detail-circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #b1eee6;
    position: relative;
    vertical-align: middle;
}

.detail-circle .detail-plus-1{
    display: inline-block;
    height: 15px;
    width: 2px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.detail-circle .detail-plus-2{
    display: inline-block;
    height: 15px;
    width: 2px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateZ(90deg);
    -moz-transform: translate(-50%,-50%) rotateZ(90deg);
    -ms-transform: translate(-50%,-50%) rotateZ(90deg);
    -o-transform: translate(-50%,-50%) rotateZ(90deg);
    transform: translate(-50%,-50%) rotateZ(90deg);
}

.more-detail p {
    display: inline-block;
    font-size: 1rem;
    font-family: 'Gotham', sans-serif;
    font-weight: 300;
    vertical-align: top;
    margin-left: 20px;
}

.detailes-block{
    background-color: #f8efe3;
    display: none;
}

.detail-header{
    margin: 50px 0;
}

.detail-name{
    font-family: "Gotham Book", sans-serif;
    font-size: 3.16875rem;
    text-align: left;
}

.detailes-block .close{
    display: inline-block;
    position: relative;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.detailes-block .close p {
    margin: 0;
    color: #3e3c39;
}

.detailes-description {
    margin-bottom: 30px;
}

.detailes-description p{
    font-family: "Gotham", sans-serif;
    font-size: 1rem;
    line-height: 1.4375rem;
    text-align: left;
}

.buy-specification{
    font-family: "Gotham Book",sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: center;
    width: 100%;
    -webkit-transform: translate(0,-100%);
    -moz-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    transform: translate(0,-100%);
}

.eight-block{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    font-size: 0;
    background: #f9efe5;
}

.eight-block .left-side{
    display: inline-block;
    width: 50%;
}

.eight-block .left-side img{
    display: inline-block;
    width: 100%;
}

.eight-block .right-side{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    position: relative;
    padding-left: 5%;
}

.build-text-allign{
    margin-top: 25px;
}

.right-side .right-build{
}

.right-side .detail-circle{
    background: #FFFFFF;
}

.right-side .detail-circle .detail-plus-1,
.right-side .detail-circle .detail-plus-2{
    background: #000000;
}

.build-text{
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 20px;
    vertical-align: top;
}

