footer{
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: 2px solid rgb(224, 224, 224);
}

footer .Container .nav-div{
    vertical-align: bottom;
}

footer .Container .logo-cont{
    vertical-align: bottom;
}

footer .Container .nav-div ul{
    display: inline-block;
    width: calc(100% / 3);
    vertical-align: top;
    padding: 0;
    text-align: left;
    margin-left: -2vw;
}

footer .Container .nav-div ul li{
    display: inline-block;
    width: 100%;
}

footer .Container ul li a{
    font-family: "Gotham Book", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(153, 153, 153);
    line-height: 1.5
}

footer .LOGO img{
    display: inline-block;
    width: 60px;
}

footer .sub-form{

}

footer .sub-form .subscriptionForm{
    font-size: 1rem;
    width: 18em;
    height: 5em;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-right: 1.25em;
    padding: 0.6em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
}

footer .sub-form .subscriptionForm .subscription{
    width: 13.5em;
    padding-left: 1.5em;
    padding-right: 0.6em;
}

footer .sub-form .subscriptionForm .subscription label{
    float: left;
}

footer .sub-form .subscriptionForm button{
    text-align: center;
    display: inline-block;
    border: none;
    float: right;
    height: 3.75em;
    width: 3.75em;
    line-height: 3.75em;
    background: transparent;
    border-left: 1px solid #eaeaea;
    border-radius: 0;
    outline: 0;
}

#subscribe{
    font-family: "Gotham", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
}

.subscriptionForm button{
    display: inline-block;
    text-align: center;
    float: right;
    height: 3.75em;
    width: 3.75em;
    border: none;
    border-radius: 0;
    border-left: 1px solid #eaeaea;
    line-height: 3.75em;
    background: transparent;
    outline: none;
    margin-top: -63px;
    cursor: pointer;
}

.social{
    float: right;
}

.social div{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #dcdcdc no-repeat center;
}

.social div a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.social .FB {
    background-image: url("../Image/Footer/facebook.svg");
    background-size: 50%;
}

.social .TW{
    background-image: url("../Image/Footer/twitter.svg");
    background-size: 50%;
    margin-top: 6px;
}

footer .LOGO{
    position: absolute;
    bottom: 0;
}


.video-vimeo-container{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}

.video-vimeo{
    width: 65vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-top: 55%;
}

.video-vimeo iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 6vw;
    z-index: 100000;
}


.close p{
    display: inline-block;
    vertical-align: top;
}

.close-button{
    vertical-align: top;
    display: inline-block;
    background: no-repeat center url('../Image/VideoPlayer/close-button.svg') #000000;
    background-size: 100%;
    height: 25px;
    width: 25px;
    transform: translate(0,10%);
    border-radius: 100%;
}