
header{
    margin-top: 55px;
}


header .Container{
    position: fixed;
    left: 5%;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    z-index: 1;
}

header div> div{
    display: inline-block;
}

header div.shop{
    text-align: right;
    position: relative;
}

header div.shop div{
    position: relative;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

header div.allign-middle{
    vertical-align: middle;
}

.menu{
    display: inline-block;
}

.burger-menu{
    display: none;
    margin: 0;
}

.burger{
    font-size: 0;
    padding: 0;
    width: 18px;
    transform: rotateZ(45deg);
    margin-top: -4px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
}

.burger .square{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: black;
    margin-top: 2px;
    margin-left: 2px;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
}

div.allign-middle  a
{
    font-family: 'Gotham Book',sans-serif;
    font-size: 14px;
    padding: 15px 10px;
    color: #404040;
    text-decoration-line: none;
}

.LOGO img{
    width: 100%;
}

div.allign{
    text-align: center;
}

div.allign a{
    display: inline-block;
}

div.menuDiv{
    font-size: 1rem;
    text-align: left;
    position: relative;
}

div.menuDiv nav{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

div.shop{
    display: inline-block;
}

div a.buttons{
    text-decoration: none;
    font-family: "Gotham", sans-serif;
    line-height: 1;
    display: inline-block;
    margin-right: 1em;
    padding: 0.7em 1.4em;
    background: #ff4848;
    border-radius: 3em;
    color: #fff !important;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.9rem;
}

div.shop .cartItemNumbers{
    font-family: "Gotham Book",sans-serif;
    color: #999999;
}
