.outlaw-name{
    width: 100%;
    display: inline-block;
    -webkit-transform: translate3d(0, 16%, 0);
    -moz-transform: translate3d(0, 16%, 0);
    -ms-transform: translate3d(0, 16%, 0);
    -o-transform: translate3d(0, 16%, 0);
    transform: translate3d(0, 16%, 0);
}


.outlaw-image{
    display: inline-block;
    width: 47%;
    -webkit-transform: scale(1) translate3d(0,-29%,0);
    -moz-transform: scale(1) translate3d(0,-29%,0);
    -ms-transform: scale(1) translate3d(0,-29%,0);
    -o-transform: scale(1) translate3d(0,-29%,0);
    transform: scale(1) translate3d(0,-29%,0);
}

.outlaw-slider .owl-theme .owl-nav [class*=owl-next],
.outlaw-slider .owl-theme .owl-nav [class*=owl-prev]{
    background: #b6e1de url("../Image/Slider/ls.demo-arrow-left.png") center no-repeat;
    border-radius: 100%;
    color: #fff;
    margin-right: 9px;
    display: inline-block;
    width: 29px;
    height: 29px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 0;
    background-size: 25%;
}

.outlaw-slider .owl-theme .owl-dots .owl-dot.active span,
.outlaw-slider .owl-theme .owl-dots .owl-dot:hover span{
    background: #b6e1de;
}

.sub-title{
    margin-top: 10vh;
    text-align: center;
    font-family: 'Gotham Light',sans-serif;
    font-size: 1rem;
}

.sub-title a{
    color: #000000;
    text-underline: none;
    font-weight: bold;
    margin-left: 50px;
}

.outlaw .explore .text{
    color: #000000;
    font-weight: bold;
}

