@media screen and (max-width: 1366px){
    .choose-size .size-table{
        width: 100%;
    }
    .size-table ul li p{
        font-size: 0.875rem;
    }
}

@media (max-width: 1271px){
    .product-types ul li{
        font-size: 1rem;
    }
}

@media (max-width: 1179px) {
    .size-table ul li p{
        font-size: 0.7rem;
    }
    .size-text p{
        font-size: 0.875rem;
    }
    .size-text h1{
        font-size: 3rem;
    }
    .arrow-down{
        right: 2px;
    }
    .selected-type p{
        font-size: 0.9rem;
    }
    footer .Container .nav-div ul{
        margin-left: 0;
    }
}

@media (max-width: 1136px) {
    .detailed-specification .battery-detail p,
    .detailed-specification .performance-detail p{
        font-size: 0.875rem;
    }
    .detailed-specification .battery-detail,
    .detailed-specification .performance-detail{
        padding: 0.3rem;
    }
}

@media (max-width: 1036px) {
    div.allign-middle a{
        padding: 15px 5px;
    }
    .detailed-specification .performance-detail{
        margin-left: 15px;
    }
}

@media (max-width: 1024px){
    .desc h4{
        font-size: 20px;
    }
    .collection-image{
        padding: 90px 0;
    }
    .explore .colorRect{
        margin: 20px 15px;
    }
    .outlaw .explore .text{
        font-size: 14px;
    }
    .explore .text{
        font-size: 14px;
    }
    .shop-accessories-main .accessoris-image{
        height: 150px;
    }
    .size-text h1{
        font-size: 2rem;
    }
    .size-text p{
        font-size: 0.75rem;
    }
    .product-text-holder h1{
        font-size: 2.25rem;
    }
    .product-text-holder p, .product-text-holder ul li{
        font-size: 0.75rem;
    }
    .product-text-holder ul li{
        margin-bottom: 0;
    }
    .video-title{
        font-size: 2.75rem;
    }
    .description{
        font-size: 1rem;
    }
    .cruz-desc .description{
        margin-top: 50px;
    }
    .specification{
        -webkit-transform: translate3d(0,-30%,0);
        -moz-transform: translate3d(0,-30%,0);
        -ms-transform: translate3d(0,-30%,0);
        -o-transform: translate3d(0,-30%,0);
        transform: translate3d(0,-80%,0)
    }
}


@media (max-width: 1010px) {

    .shop-right-menu ul li{
        margin-left: 5%;
    }

    .shop-right-menu ul li a{
        font-size: 0.875rem;
    }
}

@media (max-width: 929px) {
    .menu{
        padding-left: 5px;
    }
    .allign-middle a{
        font-size: 12px !important;
    }
}

@media (max-width: 768px){
    .menu{
        display: none;
    }

    .burger-menu{
        position: absolute;
        width: 0;
        display: inline-block;
        background: #ffffff;
        margin: 0;
        padding: 0;
        z-index: 1;
        top: 100%;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        -webkit-transition: width 500ms;
        -moz-transition: width 500ms;
        -ms-transition: width 500ms;
        -o-transition: width 500ms;
        transition: width 500ms;
    }

    .burger-menu .close{
        display: none;
        top: 2vw;
        right: 5%;
    }

    .burger-menu li{
        display: inline-block;
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }

    .burger-menu li a{
        font-family: 'Gotham Book',sans-serif;
        font-size: 0;
        padding: 15px 10px;
        color: #404040;
        text-decoration-line: none;
        -webkit-transition: font-size 200ms;
        -moz-transition: font-size 200ms;
        -ms-transition: font-size 200ms;
        -o-transition: font-size 200ms;
        transition: font-size 200ms;
    }
    .collection .owl-dots{
        display: none;
    }

    header{
        margin-top: 0;
        height: 105px;
        background: #fff;
        z-index: 1000;
        position: fixed;
        width: 100%;
    }

    header .Container{
        background: #ffffff;
        top: 0;
    }

    .LOGO{
        margin-top: 5px;
    }

    div.allign-middle a{
        background: url("../Image/cart.png") no-repeat center #ff4848;
        background-size: 50%;
        color: transparent !important;
        padding: 24px 0;
    }

    .cartItemNumbers{
        display: none;
    }

    .first-block a.buttons{
        display: none;
    }

    .text-header-end{
        margin-top: 5vh;
    }

    /*.owl-theme .owl-dots .owl-dot{*/
        /*display: none;*/
    /*}*/

    .video-content h1.video-title{
        font-size: 1.75rem;
    }
    .video-content .description{
        font-size: 0.875rem;
    }
    .video-content .play-button{
        margin-top: 0;
    }
    .person{
        margin-top: 5vh;
    }

    .shop-accessories-main .accessoris-image{
        height: 200px;
        margin-bottom: 20px;
    }

    .shop-categories-title{
        font-size: 1.25rem;
        margin: 5px;
    }

    .shop-right-menu ul li{
        margin-left: 5px;
    }

    .shop-right-menu ul li a{
        font-size: 0.875rem;
    }

    .shop-accessories-main .acessories-name{
        height: 2.25rem;
        font-size: 1.25rem;
    }

    .nav-div{
        display: none;
    }
    .logo-cont{
        display: none;
    }

    .sub-form{
        text-align: center;
    }

    .sub-form .social{
        display: none;
    }
    footer .sub-form .subscriptionForm{
        clear: both;
        float: none;
        display: inline-block;
    }

    .cruz-desc .description{
        margin-top: 15px;
    }
    .specification{
        -webkit-transform: translate3d(0,-132%,0);
        -moz-transform: translate3d(0,-132%,0);
        -ms-transform: translate3d(0,-132%,0);
        -o-transform: translate3d(0,-132%,0);
        transform: translate3d(0,-132%,0);
    }
    .specification > div p span:first-child{
        font-size: 1rem;
    }
    .specification > div p span:nth-child(2){
        font-size: 1rem;
    }
    .eight-block .left-side{
        width: 100% !important;
    }

    .eight-block .right-side{
        height: 300px;
    }

    .right-build{
        margin-top: 50%;
        transform: translate3d(0,-70%,0);
    }

    .third-block .title{
        font-size: 48px;
    }

    .text-title{
        font-size: 48px;
    }


    .slider-container .owl-carousel .item-box h1{
        font-size: 30px;
    }

    .sixth-block .title{
        font-size: 3rem;
    }

    .image-container img{
        width: 70%;
    }

    .sixth-block .image-container{
        margin-top: 5vh;
    }
}


@media (min-width: 360px) and (max-width: 767px)  {
    .LOGO img{
        width: 65%;
    }
    div.allign-middle a{
        padding: 10px 0;
        background-size: 40%;
    }

    .index-moto-image{
        -webkit-transform: scale(1.5) translate3d(0,0,0);
        -moz-transform: scale(1.5) translate3d(0,0,0);
        -ms-transform: scale(1.5) translate3d(0,0,0);
        -o-transform: scale(1.5) translate3d(0,0,0);
        transform: scale(1.5) translate3d(0,0,0);
    }

    .center-text{
        margin-top: 100px;
    }

    .text-title{
        font-size: 24px;
    }

    .description{
        font-size: 0.875rem;
    }

    .title{
        font-size: 24px;
    }
    .video-content h1.video-title{
        font-size: 1rem;
        margin-bottom: 0;
    }
    .video-content .description{
        display: none;
    }

    .fourt-block{
        height: 200px;
        overflow: hidden;
    }

    .person .Container .row .col-md-4:first-child,
    .person .Container .row .col-md-4:first-child{
        display: none;
    }

    .sixth-block .title + p,
    .sixth-block .title{
        font-size: 1rem;
    }

    .partners{
        display: none;
    }

    .detail-name{
        font-size: 1rem;
    }

    .detailes-block .close p{
        font-size: 1.25rem;
    }

    .close-button{
        height: 20px;
        width: 20px;
    }

    .scrambler-detail-block p{
        font-size: 0.875rem;
    }

    .cruz-slider-title{
        font-size: 1rem;
    }

    .scrambler-eight h2{
        font-size: 1rem;
    }

    .eight-block .right-side{
        height: 150px;
        padding-left: 0;
        width: 100%;
    }

    .right-side .right-build{
        margin: 70px 60px;
    }

    .right-build h2{
        font-size: 1rem;
    }

    .build-text-allign{
        margin-top: 0;
    }

    .shop-left-menu ul li{
        margin-right: 5px;
    }
}
